.navbar-nav {
  position: fixed;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  right: 0;
}

.nav-element {
  list-style-type: none;
  text-align: right;
  cursor: pointer;
  margin: 1rem;
  color: #B2D2E1;
}

.navbar-active {
  color: #fff;
}

.nav-label {
  opacity: 0;
  transition: opacity 0.25s;
  padding: 0.5rem;
  padding: 2px;
}

li:hover .nav-label {
  opacity: 1;
}

@media (max-width: 740px) {
  .nav-element {
    color: #999;
  }

  .navbar-active {
    color: #000;
  }

  .nav-label {
    border-radius: 3px;
    background: #fff;
    border: 1px solid #999;
  }

  .navbar-active > .nav-label {
    border: 1px solid #000;
  }
}
